/*feedback-button*/
.ui-feedback-button {
    z-index: 1000;
    position: fixed;
    width: 32px;
    height: 98px;
    top: 37%;
    right: 0px;
    background-image: url(images/sprites.png);
    background-position: 0px 0px;

}

.ui-feedback-button:hover {
    cursor: pointer;
    background-position: -35px 0px;
}

/*allgemein*/

.ui-feedback * {
    margin: 0px;
    padding: 0px;
}

.ui-feedback, .ui-feedback-modal-dialogue {
    position: absolute; /*fixed*/
    top: 10%;
    right: 5%;
    width: 318px;
    z-index: 5500;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.5625em;
    color: #626465;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 2px 5px 0 #ccc;
    -moz-box-shadow: 0 2px 5px 0 #ccc;
    box-shadow: 0 2px 5px 0 #ccc;
}

.ui-feedback-notification {
    position: fixed;
    padding: 10px;
    top: 37%;
    right: 0%;
    width: 130px;
    z-index: 999;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5625em;
    color: #626465;
    /* @embed */

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 #ccc;
    -moz-box-shadow: 0 2px 5px 0 #ccc;
    box-shadow: 0 2px 5px 0 #ccc;
}

/*.noselect{*/
/*-webkit-user-select: none;*/
/*-khtml-user-select: none;*/
/*-moz-user-select: none;*/
/*-o-user-select: none;*/
/*user-select: none;*/
/*}*/

/*head*/
.ui-feedback-head {
    cursor: move;
    padding: 10px;
}

.ui-feedback h2, .ui-feedback-help h3, .ui-feedback-modal-dialogue h3 {
    text-align: center;
    border: none;
}

.ui-feedback-help-button {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 21px;
    height: 21px;
    background-image: url(images/sprites.png);
    background-position: -140px 0px;
}

.ui-feedback-help-button:hover {
    background-position: -162px 0px;
    cursor: pointer;
}

.ui-feedback-close, .ui-feedback-modal-close {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 21px;
    height: 21px;
    background-image: url(images/sprites.png);
    background-position: -140px -22px;
}

.ui-feedback-close:hover, .ui-feedback-modal-close:hover {
    background-position: -162px -22px;
    cursor: pointer;
}

.ui-feedback-collapse {
    position: absolute;
    top: 9px;
    right: 32px;
    width: 21px;
    height: 21px;
    background-image: url(images/sprites.png);
    background-position: -140px -66px;
}

.ui-feedback-collapse:hover {
    background-position: -162px -66px;
    cursor: pointer;
}

.ui-feedback-expand {
    position: absolute;
    top: 9px;
    right: 32px;
    width: 21px;
    height: 21px;
    background-image: url(images/sprites.png);
    background-position: -140px -44px;
}

.ui-feedback-expand:hover {
    background-position: -162px -44px;
    cursor: pointer;
}

.h_green {
    color: #6CAF6C;
}

.h_green:hover {
    color: #7CAF7C;
}

.h_purple {
    color: #AF6CAF;
}

.h_purple:hover {
    color: #AF7CAF;
}

.purple {
    border: 1px solid #AF6CAF;
    background: #FFF3FE; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF3FE 0%, #FFE2FF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF3FE), color-stop(100%, #FFE2FF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFF3FE 0%, #FFE2FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFF3FE 0%, #FFE2FF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF3FE 0%, #FFE2FF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #FFF3FE 0%, #FFE2FF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFF3FE', endColorstr = '#FFE2FF', GradientType = 0); /* IE6-9 */
}

.purple:hover {
    border: 1px solid #AF7CAF;
    background: #FFF3FE; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF9FF 0%, #FFEDFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF9FF), color-stop(100%, #FFEDFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFF9FF 0%, #FFEDFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFF9FF 0%, #FFEDFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF9FF 0%, #FFEDFF 100%); /* IE10+ */
    background: linear-gradient(to bottom, #FFF9FF 0%, #FFEDFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFF9FF', endColorstr = '#FFEDFF', GradientType = 0); /* IE6-9 */
}

.green {
    border: 1px solid #6CAF6C;
    background: #f3fff4; /* Old browsers */
    background: -moz-linear-gradient(top, #f3fff4 0%, #e2ffe2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3fff4), color-stop(100%, #e2ffe2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3fff4 0%, #e2ffe2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3fff4 0%, #e2ffe2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3fff4 0%, #e2ffe2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3fff4 0%, #e2ffe2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f3fff4', endColorstr = '#e2ffe2', GradientType = 0); /* IE6-9 */
}

.green:hover {
    border: 1px solid #7CAF7C;
    background: #f3fff4; /* Old browsers */
    background: -moz-linear-gradient(top, #F9FFF9 0%, #EDFFED 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9FFF9), color-stop(100%, #EDFFED)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F9FFF9 0%, #EDFFED 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F9FFF9 0%, #EDFFED 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F9FFF9 0%, #EDFFED 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F9FFF9 0%, #EDFFED 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#F9FFF9', endColorstr = '#EDFFED', GradientType = 0); /* IE6-9 */
}

.grey {
    border: 1px solid #BDBDBD;
    background: #DBDCDC; /* Old browsers */
    background: -moz-linear-gradient(top, #DBDCDC 0%, #E3E3E3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DBDCDC), color-stop(100%, #E3E3E3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DBDCDC 0%, #E3E3E3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DBDCDC 0%, #E3E3E3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #DBDCDC 0%, #E3E3E3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #DBDCDC 0%, #E3E3E3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#DBDCDC', endColorstr = '#E3E3E3', GradientType = 0); /* IE6-9 */
}

/*form*/

#ui-feedback-form {
    border-top: 1px solid #aaa;
    cursor: auto;

    background: -moz-linear-gradient(top, #EEEEEE 0%, #E5E5E5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5E5E5), color-stop(100%, #E5E5E5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EEEEEE 0%, #E5E5E5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EEEEEE 0%, #E5E5E5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EEEEEE 0%, #E5E5E5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #EEEEEE 0%, #E5E5E5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#EEEEEE', endColorstr = '#E5E5E5', GradientType = 0); /* IE6-9 */

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#ui-feedback-form input[type="button"] {
    padding: 2px 5px;
}

#ui-feedback-form ul {
    list-style: none;
    padding: 1em 2em 0em 2em;
}

#ui-feedback-form li {
    margin-bottom: 5px;
}

.ui-feedback-textarea {
    resize: vertical;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px 3px 0px 10px;
}

label.headline {
    font-style: italic;
    color: #434444;
}

.highlight-button {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 20px;
    width: 29px;
    margin-top: .8em;
    background-image: url(images/sprites.png);
    background-position: 0px 64px;
}

.blackout-button {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 20px;
    width: 29px;
    margin-top: .8em;
    background-image: url(images/sprites.png);
    background-position: -31px 64px;
}

/*form-action-buttons*/

#ui-feedback-action-buttons {
    padding: 1em;
    text-align: center;
}

#ui-feedback-close {
    /* float: left;/**/
}

#ui-feedback-reset {
    float: left; /**/
}

#ui-feedback-send, #ui-feedback-send_html2canvas {
    float: right;
}

#ui-feedback-send:after, #ui-feedback-send_html2canvas:after {
    content: ".";
    height: 0px;
    clear: both;
}

/*screenshot*/

.ui-feedback-close-rect {
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 2px;
    right: 2px;
    background-color: transparent;
    background-image: url(images/sprites.png);
    background-position: 0px -95px;
    z-index: 5500;
}

.ui-feedback-close-rect:hover {
    background-image: url(images/sprites.png);
    background-position: -21px -95px;

}

.screenshot {
    background-color: #FFE2FF;
}

/*help-window*/

.ui-feedback-help {
    position: absolute; /*fixed*/
    z-index: 5500;
    width: 252px;
    height: auto;

    display: none;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.5625em;
    color: #626465;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 #ccc;
    -moz-box-shadow: 0 2px 5px 0 #ccc;
    box-shadow: 0 2px 5px 0 #ccc;

    top: 10px;
    right: 100px;

}

div.ui-feedback-help .title, div.ui-feedback-modal-dialogue .title {
    width: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    cursor: auto;
}

div.ui-feedback-help .title:first-child, .ui-feedback-modal-dialogue .title:first-child {
    border-top: none;
    cursor: move;

}

.ui-feedback-help .text, div.ui-feedback-modal-dialogue .text {
    padding: 10px;
    background: #eee url(images/gray-bg.png) repeat-x;
    cursor: auto;
}

.ui-feedback-help .text:last-child, .ui-feedback-modal-dialogue .footer {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-feedback-help .image {
    width: 232px;
    height: 180px;
    margin-top: 15px;
    border: solid 1px black;
    background-image: url(images/highlight.gif);
}

/* modal dialogue */
.ui-feedback-overlay {
    position: fixed;
    cursor: default;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5555;
}

.ui-feedback-modal-dialogue {
    width: 350px;
    position: fixed;
    margin-left: -175px;
    left: 50%;
    top: 30%;
    z-index: 6666;

}

.ui-feedback-modal-dialogue .footer {
    border-top: 1px solid #aaa;
}

.ui-feedback-modal-dialogue .left {
    float: left;
    margin: 0.5em 0em 0.7em 1em;
}

.ui-feedback-modal-dialogue .right {
    float: right;
    margin: 0.5em 1em 0.7em 0em;
}

td {
    margin: 20px;
}

/* browser icons */
.icon {
    width: 22px;
    height: 22px;
    background-image: url(images/sprites.png);
    float: left;
    color: transparent;
}

.ie {
    background-position: -88px -291px;
}

.ff {
    background-position: -141px -279px;
}

.ch {
    background-position: -140px -254px;
}

.sf {
    background-position: -114px -290px;
}

.op {
    background-position: -140px -304px;
}

.win {
    background-position: -186px -388px;
}

.mac {
    background-position: -188px -363px;

}

.lin {
    width: 22px;
    height: 25px;
    background-position: -188px -333px;
}

.bsd {
    background-position: -188px -333px;
}

.notify {
    height: 17px;
    background-position: -10px -310px;
}

.questionnaire-icon {
    position: relative;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 20px;
    background-position: -4px -127px;
}

.screenshot-icon {
    position: relative;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 20px;
    background-position: -42px -127px;
}

.filters {
    float: left;
}

.stats {
    margin-left: 2em;
    float: left;
}

.ui-feedback-help-icon {
    display: inline-block;
    margin-bottom: -0.4em;
    width: 21px;
    height: 21px;
    background-image: url(images/sprites.png);
    background-position: -140px 0px;
}

.ui-feedback-help-icon:hover {
    /*background-position:-162px 0px;*/
}